
<link rel="stylesheet" href="css/pdf_view.css">


<div class="w-100">
    <table>
    <tr>
    <td>
    <img src="images/ems.jpg" alt="Company Logo" style="height:100px;width:100px;" /><br>
    </td>
    <td>
    <center>
        <b style="font-size: 27px;">EMS</b><br>
        <b style="font-size: 10px;">Email :ems@gmail.com</b><br>
        
        <br>
    </center>
</td>
</tr>
</table>
</div>
<center>
<b style="font-size: 12px;">SALARY SLIP</b>
</center>
<table class="w-100">
    <tr style="border:1px solid black;" class="text-center">
        
        <td class="w-75">
            <b class="font-12">Employee Name:-{{salaries.employee}}</b>
        </td>
        <td class="w-25">
            <b class="font-12">Month:-{{salaries.month}}</b>
        </td>
    
    </tr>
</table>



<table class="bo w-100">
    
        <td class="w-55">
            <table colspan="2">
                <tr class="gap">
                    <td >
                        <b>Basic Salary:-&nbsp;<u>{{salaries.basic_salary}}</u></b> 
                    </td>
                </tr>
                <tr class="gap">
                    <td>
                        <b>Dearness Allowance : &nbsp;<u>{{salaries.dearness_allowance}}</u></b>
                    </td>
                </tr>
                <tr class="gap">
                    <td>
                        <b>Rent Allowance:-&nbsp;<u>{{salaries.house_rent_allowance}}</u></b>
                    </td>
                </tr>
                <tr class="gap">
                    <td colspan="2">
                        <b>Professional Tax:- &nbsp;<u>{{salaries.professional_tax}}</u></b>
                    </td>
                </tr>
                <tr class="gap">
                    <td>
                        <b>Tax Deducted :&nbsp;<u>{{salaries.tax_deducted}}</u></b>
                    </td>
                </tr>
                <tr class="gap">
                    <td>
                        <b>Provident Fund:-&nbsp;<u>{{salaries.provident_fund}}</u></b>
                    </td>
                </tr>
            </table>
        </td>
        
   
    <tr>
        <td colspan="2">
            <table>
                <tr> 
                    <td>
                        <b>Total Net Salary :{{salaries.net_salary}}</b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="float: right;">
        <td colspan="2" class=" w-100">
            <table class="w-100">
                <tr>
                    <td class="w-75">
                        <table class="w-100">
                            <tr>
                                <td class=" end1">
                                    <div class="end">
                                        <b>EMS</b>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="end1">
                                    <div class="end">
                                       <p><b class="end1">(Authorised Signatory)</b>&nbsp;&nbsp;Vidhi </p>
                                        
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
</table>
