{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <title>Admin Dashboard</title> 
    <link rel="stylesheet" href="{% static 'css/employee_dashboard.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
   </head>
<body>
  <nav class="navbar">
    <div class="container">
        <span class="navbar-brand mb-0 h1 logo"><img src="{% static 'images/ems.png' %}" height='50' weight='50'  alt='company Logo'/></span>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-primary" href="{% url 'profile_admin' %}">Profile</a>
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create New Employee</h5>
                <p class="card-text">Click below to create account for employee</p>
                <a href="{% url 'employee_registration' %}" class="btn btn-primary">Add Employee</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Generate Salary Report</h5>
                <p class="card-text">Click below to create salary report for employee.</p>
                    <a href="{% url 'add_salary_report' %}" class="btn btn-primary">Create Salary Report</a>
            </div>
        </div>
    </div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Manage Leave</h5>
                  <p class="card-text">Click below to manage leave for employee.</p>
                  <p class="card-text">
                    <a href="{% url 'manage_leave'%}" class="btn btn-primary">Manage Leave Request</a>
                    &nbsp;&nbsp;&nbsp;<b>Leave Request :&nbsp;{{leave_data.count}} </b></p>
              </div>
          </div>
      </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>